.logo-nav{
    width: 100%;
    height: 50px;
}
#nav-body{
    background-color: rgb(36, 122, 156);
}
#offCan-body{
    background-color: rgb(36, 122, 156);
}
#offCan-body-head{
    background-color: rgb(36, 122, 156); 
}